@media (min-aspect-ratio: 16/9) {
    /* Styles for landscape orientation (wide screens) */
    .container {
      flex-direction: row;
    }
  }
  
  @media (max-aspect-ratio: 1/1) {
    /* Styles for portrait orientation (tall screens) */
    .container {
      flex-direction: column;
    }
  }

.container {
    display: flex;
    align-items: left;
    padding-bottom: 20px;
    height: max-content;
}

.container img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    align-self: center;
}

.text{
    align-content: center;
}

.title {
    text-align: left;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
    line-height: 1px;
    margin-bottom: 0px;
}

.description {
    text-align: left;
    padding-left: 15px;
}

.link {
    text-align: left;
    padding-left: 30px;
}

a:link, a:visited { 
    color:#0f1f24; 
    text-decoration: none;
}

a:hover{
    color: #f4652f;
}

.tag-container{
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tag{
    background: rgba(212, 237, 244, 0.5);
    width: max-content;
    display: block;
    padding: 0.25rem 0.75rem;
    border-radius: 3rem;
    margin: 3px 2px;
    text-align: center;
}
