.container-div{ 
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%; 
    justify-content: center;
}

.portrait {
    height: 45vmin; 
    width: 45vmin;  
    border-radius: 50%;
    align-self: center;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 7vmin;
    align-self: center;
    text-align: center;
    margin: 30px;
  }

#title {
    font-weight: bold;
    font-size: 3vmin;
    text-align: center;
  }

#title:after {
    content: '';  
    animation: spin 10s linear infinite 1s;
  }
  
  @keyframes spin {
    0% {
      content: 'Software Engineer';
      color: rgba(212, 237, 244, 0);
    }
    5% {
        content: 'Software Engineer';
        color: rgba(212, 237, 244, 1);
    }
    20% {
        content: 'Software Engineer';
        color: rgba(212, 237, 244, 0);
    }
    25% {
        content: 'Game Engineer';
        color: rgba(212, 237, 244, 0);
    }
    30% {
        content: 'Game Engineer';
        color: rgba(212, 237, 244, 1);
    }
    45% {
        content: 'Game Engineer';
        color: rgba(212, 237, 244, 0);
    }
    50% {
        content: 'Game Developer';
        color: rgba(212, 237, 244, 0);
    }
    55% {
        content: 'Game Developer';
        color: rgba(212, 237, 244, 1);
    }
    70% {
        content: 'Game Developer';
        color: rgba(212, 237, 244, 0);
    }
    75% {
        content: 'Game Designer';
        color: rgba(212, 237, 244, 0);
    }
    80% {
        content: 'Game Designer';
        color: rgba(212, 237, 244, 1);
    }
    95% {
        content: 'Game Designer';
        color: rgba(212, 237, 244, 0);
    }
    100% {
        content: 'Software Engineer';
        color: rgba(212, 237, 244, 0);
    }
  }