.button{
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0);
}

.button:hover{
    /* background: rgb(160, 160, 160); */
    .button-icon{
        color: #d4edf4;
    }
}

.button-icon{
    color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    align-content: center;
    padding-top: 2px;
}
