.Footer {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    justify-content: center;
    color: #ffffff;
    height: 75px;
    min-height: 75px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}