

#top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/bg1.png');
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
}

.intro,
.about {
  flex-grow: 1;
}

html,
body {
  margin: 0;
}

.header {
  color: white;
}

.about {

}

.intro,
.about,
.main {
  padding: 1rem;
}

#bottom {
  height: 90vh;
  display: flexbox;
  flex-direction: column;
  height: calc(100% - 200px);
}

.footer-container {
  position: relative;
  height: 200px;
  background-image: url('./assets/bg2.png');
  background-size: cover;
  background-position: top; 
}

