

#top {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.intro,
.about {
  flex-grow: 1;
}

html,
body {
  margin: 0;
}

.header {
  color: white;
}

.about {

}

.intro,
.about,
.main {
  padding: 1rem;
}

#bottom {
  height: 90vh;
  display: flexbox;
  flex-direction: column;
}
